@CHARSET "UTF-8";

/**
 * Example page styling
 */
div#examplePage {
    color: #000;
    font-family: Verdana, Arial, Helvetica, San-serif;
    font-size: x-small;
    text-align: left;
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}



.example {   
    width: 1000px;
    margin: 20px auto;
    clear: both;
    margin-bottom:56px;
}

.example legend {
    font-size: xx-small;
    font-style: italic;
    padding: 2px;
    margin: 0 10px 0;
    line-height: 14px;
    background-color: #fff;
    
}

