
.testimonials {width:200px; border-right:1px solid #DFE2E3; border-left:1px solid #DFE2E3; background-color:#F8F9F9; padding-right:7px; padding-left:7px; padding-bottom:5px;}

.clsedsprt,.opensprt	{
	cursor:pointer;
}

h2	{
	margin-bottom:5px;
}
